createdAt: "2019-06-25T06:42:33.652Z"
updatedAt: "2019-06-25T08:39:09.555Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: "Algothrim"
tags: []
content: '''
  ## Algothrim
  - init 这个怎么理解比较好，用来给予模型的参数初值？
  - 由于后面的multithread存在，trainIter的data是不是有可能只有一部分数据？
  
  ## Dist
  Dist中有个train方法然后Algothrim中的Trainer也有个train方法，正常用的是哪个呢？
  还有，不太理解这个Dist中的train的dataset的参数的类型。
  
  ## DataSet、Corpus
  这两个东西有区别呢？目前来看是不是Corpus中包含DataSet呢？
  怎么理解Corpus这个东西的作用呢？感觉这个东西还得再抽象一下
  
  ## Defines
  这里面是不是就是一些conf参数的定义？
  
  ## ParaSet\\DataSet
  函数的参数和返回需要一下注释
  
  ## 最后还是DT，PT，RT的事情
  比如说,数据是这样的，1-4列是features，最后一列是label，参数是[a1,a2,a3,a4,b]
  [[1,2,3,4,1],
   [2,3,4,5,1],
   [3,4,5,6,0]]
   
   那DT是Array[Int],还是Array[Array[Int]]
   PT、RT是Array[Float]?
'''
linesHighlighted: []
isStarred: false
isTrashed: false
