createdAt: "2019-10-25T05:48:12.394Z"
updatedAt: "2019-10-25T09:12:33.105Z"
type: "MARKDOWN_NOTE"
folder: "e6ce7f6bbed693c566de"
title: "线程池的设计与实现"
tags: []
content: '''
  # 线程池的设计与实现
  "池"的思路，即对一组资源在服务器启动之初就被完全创建好并初始化，这称为静态资源分配。
  当服务器正式运行阶段，即处理客户端的请求时，他需要的相关资源资源就可以直接从池中获取，无需动态分配。
  动态分配涉及到系统调度资源，这是比较好是的，池的想法就避免了频繁的调度，听到了服务器的性能。
  
  ### 为什么要采用线程池
  动态创建县城的缺点：
  __1__ 动态创建县城是比较费时的，这导致了客户端响应较慢
  __2__ 动态创建的子线程通常只用为一个客户服务，这将导致系统产生大量的细微线程，线程切换也会耗费CPU时间。
  
  ### 线程池的设计思路
  __1__.以单例模式设计线程池，保证线程池的全局唯一
  __2__.在获取到线程池实例的时候进行线程池的初始化：县城预先创建+任务队列创建
  __3__.创建一个任务类，真是的任务i类会继承该类，完成任务的执行。
  
  ![https://images2018.cnblogs.com/blog/1093303/201804/1093303-20180423212022757-974931374.jpg](:storage/1233ce13-4ad0-4f83-81f5-a9e2db20a092/f9e69dad.jpg)
  
  下周补上一些实现细节
'''
linesHighlighted: []
isStarred: false
isTrashed: false
