createdAt: "2019-03-14T08:24:10.517Z"
updatedAt: "2019-03-14T08:25:14.570Z"
type: "MARKDOWN_NOTE"
folder: "c5558fe236f0266732bc"
title: "操作符的注意"
tags: []
content: '''
  ## 操作符的注意
  &，|，！，当用在int上时请转换成二进制进行运算
'''
linesHighlighted: []
isStarred: false
isTrashed: false
