createdAt: "2019-07-05T02:36:42.549Z"
updatedAt: "2019-07-05T02:48:06.705Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: "TF.Text"
tags: []
content: '''
  ## TF.Text
  目前还不支持tf2.0b1，等支持了再来完善！
'''
linesHighlighted: []
isStarred: false
isTrashed: false
