createdAt: "2019-06-13T02:39:55.077Z"
updatedAt: "2019-06-13T02:39:59.753Z"
type: "MARKDOWN_NOTE"
folder: "9bf72d6668381ae56e61"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
