createdAt: "2019-03-16T01:41:06.237Z"
updatedAt: "2019-07-23T06:02:10.928Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: "方法相关"
tags: [
  "java"
]
content: '''
  ### 方法相关
  1. 重载和重写的区别
  ①重载是指不同的函数使用相同的函数名，但是函数的参数个数或类型不同。调用的时候根据函数的参数来区别不同的函数。
  ②覆盖（也叫重写）是指在派生类中重新对基类中的虚函数（注意是虚函数）重新实现。即函数名和参数都一样，只是函数的实现体不一样。
  
  
  2. 调用一个方法
  首先，没有装箱动作前可以符合参数个数和类型的方法
  其次，装箱动作之后可以符合参数个数和类型的方法
  然后，不定长度参数并可以符合的方法
  最后，找不到方法，报错
  
  3. 在扩展某个类后，可以用`super()`调用基类的构造函数。如果子类不使用super(),默认调用父类的无参构造函数
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
