createdAt: "2019-03-31T08:25:44.120Z"
updatedAt: "2019-03-31T08:25:54.821Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
