createdAt: "2019-04-18T10:45:12.515Z"
updatedAt: "2019-04-18T10:45:33.802Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: "GradientTape"
tags: []
content: '''
  ### GradientTape
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
