createdAt: "2019-03-15T13:56:43.536Z"
updatedAt: "2019-03-15T14:15:20.666Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
