createdAt: "2019-06-14T08:31:51.659Z"
updatedAt: "2019-06-17T02:22:20.011Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "EM算法"
tags: []
content: '''
   # EM算法
   
   ### 硬币问题
   > 三枚硬币A，B，C,正面出现的概率分别是$\\pi,p,q$
   > 先抛A，A正抛B，A反抛C，观测抛B\\C的结果
   > 重复n次，获得一个序列
   
   将观测数据表示为$Y=(Y_1,Y_2,...,Y_n)^T$,为光测数据表示为$Z=(Z_1,Z_2,...,Z_n)^T$,则似然函数为：
   $$P(Y|\\theta) = \\sum_z{P(Z|\\theta)P(Y|Z,\\theta))} $$
   (以上对李航所述之求和尚存疑虑)
   即：
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  #### Q函数（Q function）
   > 完全数据的对数似然函数$logP(Y,Z|\\theta )$关于在给定观测数据$Y$和当前参数$\\theta^{(i)}$下对未知观测数据$Z$的条件概率分布$P(Z|Y,\\theta^{(i)})$的期望称为Q函数，即:
  $$Q(\\theta,\\theta^{(i)})= E_z[logP(Y,Z|\\theta)|Y,\\theta^{(i)}]$$
'''
linesHighlighted: []
isStarred: false
isTrashed: false
