createdAt: "2019-08-05T01:34:39.129Z"
updatedAt: "2019-08-05T01:34:39.129Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
