createdAt: "2019-06-13T09:37:31.471Z"
updatedAt: "2019-06-13T09:48:10.115Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "极大似然估计"
tags: []
content: '''
  ### 极大似然估计
  其实似然函数一文已经过了关于极大似然的思想了，即通过
  $$L(a|A) = P(A|p=a)$$
  来寻找$a$的值,来使得在此$a$值的情况下，观测事件发生的概率最大。
  
  以上其实就是极大似然估计，不过问题在于，很多时候都是一个复杂的分布，没法这么直观的给出观测事件的表达式，也就是说构建似然函数比较困难。
  
  下面将根据维基百科生的例子结合自己的理解进行一定的分析，
'''
linesHighlighted: []
isStarred: false
isTrashed: false
