createdAt: "2019-06-13T09:37:31.471Z"
updatedAt: "2019-06-14T02:30:55.940Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "极大似然估计"
tags: []
content: '''
  ### 极大似然估计
  其实似然函数一文已经过了关于极大似然的思想了，即通过
  $$L(a|A) = P(A|p=a)$$
  来寻找$a$的值,来使得在此$a$值的情况下，观测事件发生的概率最大。
  
  一直很奇怪，为什么对连续型随机变量而言，似然函数是PDF（概率密度分布）的乘积。
  
  > 概率密度，相对于物理学中的密度。设想要求一个点的质量，显然这个点无限小，质量肯定为0;同样的求某一个点的概率，由于这个长度无限小，所以概率为0。对于质量，人们引进了密度，表示单位体积内的质量;而对于概率，人们引进了概率密度，表示单位长度内取值的可能性;
  
  经过上述对概率密度的理解，如果想要似然函数最大，即要观测事件最有可能发生，在固定的长度内，使得概率密度最大不就行了吗。就像已知一个块铁的体积（观测），怎样才能让质量（概率）最大呢？**让密度（概率密度）最大不就行了**
'''
linesHighlighted: []
isStarred: false
isTrashed: false
