createdAt: "2019-06-25T08:49:04.914Z"
updatedAt: "2019-06-25T08:50:38.633Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "支持向量机——SMO算法"
tags: []
content: '''
  ## 支持向量机——SMO算法
  （又是一个新坑，哪时候才填得玩哦）
'''
linesHighlighted: []
isStarred: false
isTrashed: false
