createdAt: "2019-07-05T03:22:24.154Z"
updatedAt: "2019-07-05T03:22:31.186Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
