createdAt: "2019-07-05T03:22:16.274Z"
updatedAt: "2019-07-05T03:22:20.656Z"
type: "SNIPPET_NOTE"
folder: "91678286fbe5c256d96d"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
