createdAt: "2019-07-23T08:00:22.773Z"
updatedAt: "2019-07-24T06:40:11.016Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: "Scala复习-tuples"
tags: []
content: "# Scala复习-tuples"
linesHighlighted: []
isStarred: false
isTrashed: false
