createdAt: "2019-05-24T08:39:21.472Z"
updatedAt: "2019-05-24T08:39:44.708Z"
type: "MARKDOWN_NOTE"
folder: "3ed9013aac4316501eaf"
title: "matplotlib画实时更新的图"
tags: []
content: '''
  ### matplotlib画实时更新的图
  ```python
  import numpy as np
  import matplotlib.pyplot as plt
  
  plt.ion() # interactive mode on 
  line, = plt.plot(x,y) # plot the data and specify the 2d line
  ax = plt.gca() # get most of the figure elements 
  
  while condition:
      x = np.append(x, new_x)
      y = np.append(y, new_y)
      line.set_xdata(x)
      line.set_ydata(y) # set the curve with new data
      ax.relim() # renew the data limits
      ax.autoscale_view(True, True, True) # rescale plot view
      plt.draw() # plot new figure
      plt.pause(1e-17) # pause to show the figure
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
