createdAt: "2019-05-08T03:01:29.163Z"
updatedAt: "2019-09-19T08:26:17.816Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "重新理解贝叶斯公式"
tags: []
content: '''
  ## 重新理解贝叶斯公式
  
  $$P(A|B)=\\frac{P(B|A)}{P(B)}*P(A)$$
  
  以前一直理解贝叶斯公式为概率转换的，也就是先验，后验转换。现在看到了一种更好的解释
  
  - $P(A|B)$是已知B发生后A的条件概率，也由于受B取值的影响而被称作A的后验概率，**B发生后，事件A发生的置信度**
  - $P(A)$是A的先验概率或边缘概率，表示**事件A发生的置信度**
  - $P(B|A)$是一直A发生后B的条件概率，也由于受A取值的影响而被称作B的后验概率，**也被称作似然函数**
  - $P(B)$是B的先验概率或边缘概率，成为**标准化常量**
  - $\\frac{P(B|A)}{P(B)}$成为标准似然比，表示**事件B为事件A发生提供的支持程度**
  
  
  ### 所以贝叶斯公式可以被表示为
  $$posterior=\\frac{likelihood}{evidence}*prior$$
  
  
  ### 似然函数与概率函数
  对于函数$P(x|\\theta)$，从不同的观测角度来看可以分为以下两种情况：
  
  如果$\\theta$已知且保持不变，$x$是变量，则$P(x|\\theta)$称为概率函数，表示不同$x$出现的概率。
  如果$x$已知且保持不变，$\\theta$是变量，则$P(x|\\theta)$称为似然函数，表示不同$\\theta$下，$x$出现的概率，也记作$L(\\theta|x)$或$L(x;\\theta)$或$f(x;\\theta)$。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
