createdAt: "2019-06-13T02:35:19.801Z"
updatedAt: "2019-06-17T01:56:44.908Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: "TFRecord"
tags: []
content: '''
  ### TFRecord
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
