createdAt: "2019-06-13T02:35:19.801Z"
updatedAt: "2019-06-13T02:35:52.409Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: "开个新坑，TFRecord"
tags: []
content: '''
  ### 开个新坑，TFRecord
  #to-do
'''
linesHighlighted: []
isStarred: false
isTrashed: false
