createdAt: "2019-05-24T08:39:16.211Z"
updatedAt: "2019-05-30T02:17:52.209Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
