createdAt: "2019-07-09T05:15:09.907Z"
updatedAt: "2019-07-09T06:54:31.460Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "MCMC采样和M-H采样"
tags: []
content: '''
  ### MCMC采样和M-H采样
  #### 细致平稳条件
  如果非周期马尔科夫链的状态转移矩阵$P$和概率分布$\\pi(x)$对于所有的$i,j$满足:
  $$\\pi(i)P(i,j) = \\pi(j)P(j,i)$$
  则称概率分布$\\pi(x)$是状态转移矩阵$P$的平稳分布
  由细致平稳条件可得:
  $$\\sum_{j=1}^{\\infty}\\pi(i)P(i,j) = \\sum_{j=1}^{\\infty}\\pi(j)P(j,i) = \\pi(j)\\sum_{j=1}^{\\infty}P(j,i)=\\pi(j)$$
  用矩阵表示极为:
  $$\\pi P = \\pi$$
  所以,其实只要找到可以是概率分布$\\pi(x)$满足细致平稳分布的矩阵$P$
  
  #### MCMC采样
  一般情况下,目标平稳分布$\\pi(x)$和某一个马尔科夫链状态转移矩阵$Q$,即:
  $$\\pi(i)Q(i,j) \\neq \\pi(j)Q(j,i)$$
  引入$\\alpha(i,j)$是上式取等号,使得细致平稳条件成立,即:
  $$\\pi(i)Q(i,j)\\alpha(i,j) = \\pi(j)Q(j,i)\\alpha(j,i)$$
  
  怎么样的$\\alpha(i,j)$可以使等式成立呢?仅需满足以下两式即可:
  $$\\alpha(i,j) = \\pi(j)Q(j,i)$$
  $$\\alpha(j,i) = \\pi(i)Q(i,j)$$
  这样就得到了分布$\\pi(x)$对应的马尔科夫链状态转移矩阵P,满足:
  $$P(i,j) = Q(i,j)\\alpha(i,j)$$
  
  
  目标矩阵$P$可以通过任意一个马尔科夫链状态转移矩阵$Q$乘以$\\alpha(i,j)$,其中$\\alpha(i,j)$一般称之为接受率.
  1) 输入任意选定的马尔科夫链状态转移矩阵$Q$,平稳分布$\\pi(x)$,状态转移次数阈值$n_1$,需要的样本个数$n_2$
  2) 从任意简单概率分布采样得到初始状态值$x_0$
  3) $for\\ t\\ =\\ 0\\ to\\ n_1\\ +\\ n_2\\ -1:$
      - 从条件概率分布$Q(x|x_t)$中采样得到样本$x_*$
      - 从均匀分布采样$u$服从$uniform[0,1]$
      - 如果$u < \\alpha(x_t,x_*) =\\pi(x_*)Q(x_*,x_t)$,则接受转移$x_t\\ \\to\\ x_*$,即$x_{t+1} = x_*$
      - 否则不接受转移,即$x_{t+1} = x_t$
  **样本集$(x_{n_1},x_{n_1+1},...,x_{n_1+n_2-1})$即为所需平稳分布对应的样本集.**
  
  以上即为MCMC采样,但是存在一个问题,实际过程各种$\\alpha(x_t,x_*)$可能非常小,可能大部分采样被拒绝了,采样效率比较低.
  
  #### M-H采样
  M-H采样是Metropolis-Hastings采样的简称,这个算法首先由Metropolis提出,被Hastings改进,因此被称之为Metropolis-Hastings采样或M-H采样,M-H采样解决了我们上一节MCMC采样接受率过低的问题。
  回到MCMC采样的细致平稳条件:
  $$\\pi(i)Q(i,j)\\alpha(i,j) = \\pi(j)Q(j,i)\\alpha(j,i)$$
  采样效率低的原因是因为$\\alpha(i,j)$太小了,比如0.1,而$\\alpha(j,i)$为0.2
  $$\\pi(i)Q(i,j)*0.1 = \\pi(j)Q(j,i)*0.2$$
  若两边同时扩大五倍,接受率提高到了0.5,但是细致平稳条件仍然是满足的,即:
  $$\\pi(i)Q(i,j)*0.5 = \\pi(j)Q(j,i)$$
  所以对接受率可以进行如下改进,即:
  $$\\alpha(i,j) = \\min\\{ \\frac{\\pi(j)Q(j,i)}{\\pi(i)Q(i,j)},1\\}$$
  
  
  
  1) 输入任意选定的马尔科夫链状态转移矩阵$Q$,平稳分布$\\pi(x)$,状态转移次数阈值$n_1$,需要的样本个数$n_2$
  2) 从任意简单概率分布采样得到初始状态值$x_0$
  3) $for\\ t\\ =\\ 0\\ to\\ n_1\\ +\\ n_2\\ -1:$
      - 从条件概率分布$Q(x|x_t)$中采样得到样本$x_*$
      - 从均匀分布采样$u$服从$uniform[0,1]$
      - 如果$u < \\alpha(x_t,x_*) = \\min\\{ \\frac{\\pi(j)Q(j,i)}{\\pi(i)Q(i,j)},1\\}$,则接受转移$x_t\\ \\to\\ x_*$,即$x_{t+1} = x_*$
      - 否则不接受转移,即$x_{t+1} = x_t$
  **样本集$(x_{n_1},x_{n_1+1},...,x_{n_1+n_2-1})$即为所需平稳分布对应的样本集.**
  
  tips:很多情况下Q是对称的,即满足$Q(i,j) = Q(j,i)$,所以可以简化接受率为:
  $$\\alpha(i,j) = \\min\\{\\frac{\\pi(j)}{\\pi(i)},1\\}$$
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
