createdAt: "2019-03-15T13:58:33.577Z"
updatedAt: "2019-03-15T14:13:25.836Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
