createdAt: "2019-09-18T09:23:08.050Z"
updatedAt: "2019-09-19T08:17:10.434Z"
type: "MARKDOWN_NOTE"
folder: "e6ce7f6bbed693c566de"
title: "Nginx 配置"
tags: []
content: '''
  ## Nginx 配置
  #### 80-http
  ```nginx
  server {
      listen 80;
      listen [::]:80;
  
      server_name www.loner.net.cn;
      root /var/www/ghost/system/nginx-root;
  
      location / {
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header Host $http_host;
          proxy_pass http://127.0.0.1:2368;
  
      }
  
      location ~ /.well-known {
          allow all;
      }
  
      client_max_body_size 50m;
  }  
  ```
  
  #### 80转443
  ```nginx
   rewrite ^(.*)$ https://${server_name}$1 permanent; 
  ```
  #### 443-https
  ```nginx
  server {
      listen 443 ssl http2;
      listen [::]:443 ssl http2;
  
      server_name www.loner.net.cn;
      root /var/www/ghost/system/nginx-root; # Used for acme.sh SSL verification (https://acme.sh)
  
      ssl_certificate /etc/letsencrypt/www.loner.net.cn/fullchain.cer;
      ssl_certificate_key /etc/letsencrypt/www.loner.net.cn/www.loner.net.cn.key;
      include /etc/nginx/snippets/ssl-params.conf;
  
      location / {
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header Host $http_host;
          proxy_pass http://127.0.0.1:2368;
  
      }
  
      location ~ /.well-known {
          allow all;
      }
  
      client_max_body_size 50m;
  }
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
