createdAt: "2019-05-30T02:16:37.014Z"
updatedAt: "2019-05-30T02:17:49.386Z"
type: "SNIPPET_NOTE"
folder: "7ad16a328420ce2c1cef"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
    linesHighlighted: []
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('enjoy').innerHTML
      
      console.log(boostnote)
    '''
    linesHighlighted: []
  }
]
tags: []
isStarred: false
isTrashed: true
