createdAt: "2019-05-07T05:34:29.801Z"
updatedAt: "2019-05-08T05:12:45.030Z"
type: "MARKDOWN_NOTE"
folder: "91678286fbe5c256d96d"
title: "TF中的tf.function这个装饰器"
tags: []
content: '''
  ##  TF中的tf.function这个装饰器
  （对于这个东西为什么要引进，有什么优点还需要进一步的了解）补充：TF公众号正好推了这么一篇文章，正好借此再来学习一下
  由于引进了eager执行模式，且在tensorflow2.0的版本中默认是开启的，这个装饰器可以扩展函数的表现能力和部署能力
  
  为什么能够提高性能和可部署性呢？因为Eager模式提升了运行一次的操作性和速度，但是降低了性能和可部署性。
  
  #### 由此装饰器装饰的函数相当于核心的TF操作：可以立即执行该函数，可以在图表中使用该函数，该函数具有梯度等等
  
  
  最简单的示例
  ```python
  # A function is like an op
  @tf.function
  def add(a, b):
    return a + b
  
  add(tf.ones([2, 2]), tf.ones([2, 2]))  #  [[2., 2.], [2., 2.]]
  ```
  
  这个装饰器装饰的函数是可以拥有梯度的
  ```python
  # Functions have gradients
  @tf.function
  def add(a, b):
    return a + b
  
  v = tf.Variable(1.0)
  with tf.GradientTape() as tape:
    result = add(v, 1.0)
  tape.gradient(result, v)
  ```
  
  可以对function进行嵌套
  ```python
  # You can use functions inside functions
  
  @tf.function
  def dense_layer(x, w, b):
    return add(tf.matmul(x, w), b)
  
  dense_layer(tf.ones([3, 2]), tf.ones([2, 2]), tf.ones([2]))
  ```
  
  
  ## 多态性
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
