createdAt: "2019-03-15T14:15:28.186Z"
updatedAt: "2019-03-15T14:15:45.982Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
