createdAt: "2019-07-09T02:25:08.214Z"
updatedAt: "2019-07-09T03:26:48.759Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "马尔科夫链的性质"
tags: []
content: '''
  # 马尔科夫链的性质
  设有马尔科夫链$X = \\{X_0,X_1,...,X_t,...\\}$,状态空间为$S$.
  1) 不可约
      对于任意状态$i,j \\in S$,如果存在一个时刻$t(t>0)$满足:
      $$P(X_t=i|X_0=j) > 0$$
      即时刻$0$从状态$j$出发,时刻$t$到达状态$i$的概率大于$0$,则称此马尔科夫链是不可约的(irreducible),否则就是可约的(reducible)
  2) 非周期
      对于任意状态$i \\in S$,如果时刻$0$从状态$i$出发,$t$时刻返回状态$i$的所有时间长$\\{t:P(X_t=i|X_0=i)>0\\}$的最大公约数是1,则称此马尔科夫链$X$是非周期的(aperiodic),否则此链就是周期的(periodic)
      tips:从状态i出发,状态i的时长为3,6,9....这就是周期的,否则就是非周期的.
  3) 正常返
      对于任意状态$i,j \\in S$,定义概率$p^t_{ij}$为时刻$0$从状态$j$出发,时刻$t$首次转移到状态$i$的概率,即$p^t_{ij} = P(X_t=i,X_s \\ne i,s = 1,2,3,...t-1|X_0=j),t=1,2,...$  若对所有状态$i,j$都满足$\\lim_{t \\to \\infty}p^t_{ij} > 0$,则称马尔科夫链$X$是正常返的
      即:一个正常返马尔科夫链,其中任意一个状态,从其他任意一个状态出发,当时间趋于无穷,首次转移到这个状态的概率不为0.
      tips:**不可约,非周期且正常返的马尔科夫链,有唯一平稳分布存在.**
  4) 遍历定理
      若马尔科夫链是不可约,非周期且正常反返的,该马尔客服连有唯一平稳分布$\\pi = (\\pi_1,\\pi_2,...)^T$,并且转移概率的极限分布是马尔科夫链的平稳分布.
      $$\\lim_{t \\to \\infty}P(X_t=i|X_0=j)=\\pi_i,i=1,2,...;j=1,2,...$$
  5) 可逆马尔科夫链
      转移概率矩阵为P,如果有状态分布$\\pi = (\\pi_1,\\pi_2,...)^T$,对于任意状态$i,j \\in S$,对任意一时刻$t$满足
      $$P(X_t=i|X_{t-1}=j)\\pi_j=P(X_{t-1}=j|X_t=i)\\pi_i,\\quad i,=1,2,3..$$
      或简写为:
      $$p_{ji}\\pi_j = p_{ij}\\pi_i,\\quad i,j=1,2,3,...$$
      则称次马尔科夫链$X$为可逆马尔科夫链,上式则称为细致平衡方程
'''
linesHighlighted: []
isStarred: false
isTrashed: false
