createdAt: "2020-01-15T02:35:57.085Z"
updatedAt: "2020-01-15T02:36:08.126Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: "华为路由器命令行 副本"
content: '''
  # 华为路由器命令行
  ## 命令行的几个视图
  |常用视图名称|进入视图|视图功能|
  |----|----|----|
  |用户视图|登录后显示的视图，界面上显示`<Huawei>`|可以查看运行状态和统计信息|
  |系统视图|通过`system-view`后回车进入|可以配置系统参数以及通过该视图进入其他功能的配置视图|
  |接口视图|使用`interface gigabitethernet x/y/z`进去，其中`x/y/z`分别对应`槽位号/子卡号/接口序号`|可以在此视图下配置接口相关的物理属性、链路层特性以及ip地址等重要参数|
  |路由协议视图|在系统试图下使用路由协议进程运行命令进入|路由协议的大部分参数实在相应的路由协议视图下进行配置的|
  
  #### 退出命令行试图
  - 使用`quit`命令，即可从当前视图退出至上一层试图
  - 若使用组合键`Ctrl + z`或执行`return`命令，则可以直接回到用户视图
  
  
'''
linesHighlighted: []
tags: []
isStarred: false
isTrashed: true
