createdAt: "2019-09-19T03:14:17.659Z"
updatedAt: "2019-09-19T03:14:23.416Z"
type: "MARKDOWN_NOTE"
folder: "7ad16a328420ce2c1cef"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
