createdAt: "2019-07-10T06:52:55.435Z"
updatedAt: "2019-07-10T07:54:11.650Z"
type: "MARKDOWN_NOTE"
folder: "cab491cd31795b9833d0"
title: "Gibbs采样"
tags: []
content: '''
  # Gibbs采样
  1) 细致平稳条件
      回到细致平稳条件,如果不采用MCMC的方法(加上一个建议分布), 想要满足下式
      $$\\pi(i)P(i,j) = \\pi(j)P(j,i)$$
      以二位数据分布开始,假设$\\pi(x_1,x_2)$是一个二维联合数据分布.
      现有两个点,$A(x_1^{(1)},x_2^{(1)}),B(x_1^{(1)},x_2^{(2)})$,两点都在$x_1 =        x_1^{(1)}$这条直线上,易有下式成立:
      $$\\pi(x_1^{(1)},x_2^{(1)})\\pi(x_2^{(2)}|x_1^{(1)})=\\pi(x_1^{(1)})\\pi(x_2^{(1)}|x_1^{(1)})\\pi(x_2^{(2)}|x_1^{(1)})$$
      $$\\pi(x_1^{(1)},x_2^{(2)})\\pi(x_2^{(1)}|x_1^{(1)})=\\pi(x_1^{(1)})\\pi(x_2^{(2)}|x_1^{(1)})\\pi(x_2^{(1)}|x_1^{(1)})$$
      显然上式右边是相等的,所以有:
      $$\\pi(x_1^{(1)},x_2^{(1)})\\pi(x_2^{(2)}|x_1^{(1)})=\\pi(x_1^{(1)},x_2^{(2)})\\pi(x_2^{(1)}|x_1^{(1)})$$
      也就是:
      $$\\pi(A)\\pi(x_2^{(2)}|x_1^{(1)}) = \\pi(B)\\pi(x_2^{(1)}|x_1^{(1)})$$
      **这不显然了嘛!!!** 在$x_1 = x_1^{(1)}$这条直线上如果条件概率$\\pi(x_2|x_1^{(1)})$作为状态转移概率,则直线上的任意两个点之间都满足细致平稳条件!!!!
      **同理!!!** 在$x_2 = x_2^{(1)}$这条直线上如果条件概率$\\pi(x_1|x_2^{(1)})$作为状态转移概率,则直线上的任意两个点之间都满足细致平稳条件!!!!
      假如有一点$C(x_1^{(2)},x_2^{(1)})$,可以得到:
      $$\\pi(A)\\pi(x_1^{(2)}|x_2^{(1)}) = \\pi(C)\\pi(x_1^{(1)}|x_2^{(1)})$$
      故可以构造$\\pi(x_1,x_2)$的马尔科夫链对应的状态转移矩阵$P$:
      $$P(A \\to B) = \\pi(x_2^{(B)}|x_1^{(1)}) \\qquad if\\ x_1^{(A)} = x_1^{(B)} = x_1^{(1)}$$
      $$P(A \\to C) = \\pi(x_2^{(C)}|x_2^{(1)}) \\qquad if\\ x_2^{(A)} = x_2^{(C)} = x_2^{(1)}$$
      $$P(A \\to D) = 0 \\qquad else$$
      有了以上状态转移矩阵$P$,易得平面上任意两点$E,F$,满足细致平稳条件:
      $$\\pi(E)P(E \\to F) = \\pi(F)P(F \\to E)$$
  2) 二维Gibbs采样
      利用上面找到的状态转移矩阵$P$,易得二位Gibbs采样
      1) 输入平稳分布$\\pi(x_1,x_2)$,设定状态转移次数阈值$n_1$,需要样本个数$n_2$
      2) 随机初始化初始状态$x_1^{(0)},x_2^{(0)}$
      3) $for \\quad t=0 \\quad to \\quad n_1+n_2-1:$
          - 从条件概率分布$P(x_2|x_1^{(t)})$中采样得到样本$x_2^{t+1}$
          - 从条件概率分布$P(x_1|x_2^{(t+1)})$中采样得到样本$x_1^{t+1}$
  
      　样本集$\\{(x_1^{(n_1)},x_2^{(n_1)}),(x_1^{(n_1+1)},x_2^{(n_2+1)}),...,(x_1^{(n_1+n_2-1)},x_2^{(n_1+n_2-1)})\\}$即为我们需要的平稳分布对应的样本集。
  **采样是在两个坐标轴上不停的轮换的**,当然这也不是必须的!!!
  $$(x_1^{(1)},x_2^{(1)})\\to(x_1^{(1)},x_2^{(2)})\\to(x_1^{(2)},x_2^{(2)})\\to...\\to(x_1^{(n_1+n_2-1)},x_2^{(n_1+n_2-1)})$$
  3) 多维Gibbs采样
      多维其实和二维没啥区别,比如$n$维概率分布$\\pi(x_1,x_2,...,x_n)$,可以认为实在n个坐标轴上进行轮换采样,即固定$n-1$个坐标轴,在某一个坐标轴上移动.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
